/* TasksComponent's private CSS styles */
.tasks {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 25em;
  }
  
  .tasks li {
    display: flex;
  }
  
  .tasks button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 1.8em;
    border: none;
  }
  
  .tasks button:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }
  
  .tasks button:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .tasks button.selected {
    background-color: black;
    color: white;
  }
  
  .tasks button.selected:hover {
    background-color: #505050;
    color: white;
  }
  
  .tasks button.selected:active {
    background-color: black;
    color: white;
  }
  
  .tasks .checkmark {
    width: 3em;
    display: inline-block;
    font-size: small;
    padding: 0.45em 0.7em 0 0.7em;
    line-height: 1em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  .tasks .checkmark#done {
    color: white;
    background-color: #405061d7;
  }
  
  .tasks .checkmark#toDo {
    color: black;
    background-color: #b2c3d4d8;
  }
  
  .tasks .name {
    align-self: center;
    width: 16em;
  }
  
  .tasks .priority {
    align-self: center;
    color: white;
    display: inline-block;
    font-size: small;
    line-height: 1em;
    margin-left: .8em;
    border-radius: 0 4px 4px 0;
    padding: 0.4em 0.7em 0.4em 0.7em;
    width: 6em;
    background-color: #3c5672d3;
  }